.inn {
    width: 100%;
    height: 50%;
    background-color: rgb(227, 112, 137);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid #d8d2d2;
    overflow-x: hidden;
}

a {
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    color: white; 
}

@media screen and (max-width:700px) {
    .inn {
        height: 5vh;
        width: 100%;
        overflow-x: hidden;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
    a {
        font-size: 10px;
        
    }
    
}