.abt {
    background-color: rgb(241, 233, 236);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    padding-bottom: 40px;
}

.faculty {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.ppl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imaage {
border-radius: 76px;
height: 150px;
width: 150px;
}

.abt-us {
background-color: rgb(227 112 137);
height: 90%;
width: 60%;
border-radius: 10px;
padding: 10px;
}

.abt-us p {
    font-size: 22px;
    font-style: italic;
    line-height: 1.8;
    color: white;
}

@media screen and (max-width:700px) {
    .abt {
        height: 55vh;
        padding: 10px;
    }
.faculty {
height: 90%;
width: 90%;
}
.ppl img {
    border-radius: 40px;
    height: 80px;
    width: 80px;
}
.ppl h2 {
    font-size: 11px;
}
.ppl p {
    font-size: 10px;
} 
.abt-us {
    height: 80%;
    width: 70%;
}
.abt-us p {
    font-size: 10px;
    line-height: 1.2;
}
}
