.header {
    display: flex;
    border-bottom: 1px solid #d8d2d2;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.pic {
    height: 100px;
    width: 100px;
}

.header  h1 {
    font-weight: 900;
    font-size: 50px;
    font-style:italic;
    color:rgb(203 76 95);
}

.ab {
    text-align: right;
    padding-right: 40px;
}

.enrl {
    background: linear-gradient(90deg, #ed3024 0%, #ff6600 100%);
    border-radius: 4px;
    padding: 10px;
    display: inline-flex;
    font-weight: 600;
    align-items: center;
    font-size: 14px;
    color: #fff;
}

a {
    text-decoration: none;
}

@media screen and (max-width:700px) {
    .header {
        width: 100%;
        justify-content: space-between;
    }
    .ab {
        padding-right: 10px;
    }
    .pic {
        height: 60px;
        width: 60px;
    }
    .enrl{
        padding: 7px;
        font-weight: 600;
        font-size: 11px;
    }
    .header  h1 {
        font-size: 20px;
    }
}